.hiden {
    display: none
}
/* */

#wrapper div {
    display:none;
}
#wrapper.tab1 div.tab1 {
    display:block;
    width:100%;
}
#wrapper.tab2 div.tab2 {
    display:block;
    width:100%;
}
#wrapper.tab3 div.tab3 {
    display:block;
    width:100%;
}
#wrapper.tab1 a.tab1 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper.tab2 a.tab2 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper.tab3 a.tab3 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}